{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Création de film</h1>

        {{ form_start(form) }}

        {{ form_widget(form.nom, {'attr': {'placeholder':'nom'}}) }}
        {{ form_widget(form.resume, {'attr': {'placeholder':'résumé'}}) }}
        {{ form_widget(form.realisateur, {'attr': {'placeholder':'réalisateur'}}) }}

        <button class="btn btn-success" type="submit">Envoyer</button>
        {{ form_end(form) }}


    </div>
{% endblock %}
